*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: white;
  width: 100%;
}


      /* INICIO HEADER */

header{
  width: 100%;
  height: 60px;
  position: fixed;
  top:0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid rgb(191, 191, 191);
  background-color: white;
  z-index: 2;
}
.contenido_header{
  width: 80%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.titulo_header{
  height: 60px;
  position: absolute;
  left: 0px;
}
.titulo_header a{
  text-decoration: none;
  color: black;
}
.titulo_header h1{
  margin-top: 20px;
  font-size: 18px;
}



.menu_header{
  height: 60px;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: row;
}
.menu_header a{
  text-decoration: none;
  color: rgb(69, 69, 69);
  margin-left: 20px;
  margin-top: 22px;
  font-size: 13px;
}
.menu_header a:hover{

  color: rgb(144, 144, 144);

}

.tienda_online {
  margin-top: 20px;
  margin-left: 30px;
}
.tienda_online a{
  margin-top: 20px;
  margin-left: 30px;
  color: black;
  font-weight: bold;
  font-size: 15px;
}


      /* INICIO CUERPO */

.cuerpo{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

/* SLIDER */

.cuerpo_slider{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 400px;
}

.cuerpo_slider img{
  width: 100%;
  height: 600px;
  z-index: -1;
  position: absolute;
  top: 0px;
}
.media_imagen{
  width: 58%;
}
.contenido_imagen{
  width: 42%;
  height: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contenido_texto{
  width: 350px;
  display: flex;
  flex-direction: column;
}
.contenido_texto h2{
  font-size: 37px;
  font-weight: normal;
}
.contenido_texto h3{
  font-size: 25px;
  font-family: cursive;
}
.contenido_texto p{
  margin-top: 10px;
  font-size: 17px;
  color: rgb(68, 68, 68);
}
.contenido_texto button{
  background-color: transparent;
  border: 1px solid rgb(68, 68, 68);
  cursor: pointer;
  margin-top: 30px;
  color: rgb(68, 68, 68);
  padding: 10px;
  border-radius: 20px;
  letter-spacing: 1px;
}

.contenido_texto button:hover{
  background-color: rgb(205, 205, 205);
  color: black;
}

/* PRODUCTOS */

.productos{
  width: 100%;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo_productos{
  border-left: 2px solid black;
}
.titulo_productos h1{
  margin-left: 20px;
  font-family: cursive;
  font-weight: 500;
}

.cuerpo_productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 100px;
}

.cuerpo_productos  img{
  width:  300px;
  height: 350px;
  }

.cuerpo_productos button h3{
  font-size: 20px;
}

.contenedor_producto{
  width: 300px;
  height: 350px;
  border: 1px solid grey;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  border-radius: 24px;
}
.contenedor_producto:hover{
  box-shadow: 0px 0px 20px 1px #aaaaaa;
  border: 3px solid grey;
}
.contenedor_producto  img{
  width:  300px;
  height: 350px;
  z-index: -2;
  position: absolute;
  top: 0px;
  border-radius: 20px;
  }


.boton_producto button{
  background-color: transparent;
  border: 1px solid rgb(68, 68, 68);
  cursor: pointer;
  margin-top: 100px;
  color: rgb(68, 68, 68);
  padding: 30px;
  border-radius: 20px;
  letter-spacing: 1px;
}

.boton_producto button:hover{
  background-color: rgb(205, 205, 205);
  color: black;
}


/* INICIO NOSOTROS */

.nosotros{
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 500px;
  margin-top: 150px;
}
.nosotros_texto{
  width: 50%;
  height: 500px;
}
.nosotros_imagen{
  width: 50%;
}
.nosotros_imagen img{
  width: 100%;
  height: 500px;
}
.contenedor_nosotrosTexto{
  width: 70%;
  text-align: left;
}
.titulo_nosotrosTexto{
  margin-top: 20px;
  margin-bottom: 20px;
}
.titulo_nosotrosTexto h1{
  font-size: 30px;
  border-bottom: 2px solid black;
  font-family: cursive;
}

.contenedor_nosotrosTexto h2{
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
}

.contenedor_nosotrosTexto p{
  font-size: 17px;
  margin-top: 20px;
}

.contenedor_nosotrosTexto button{
  background-color: transparent;
  border: 1px solid rgb(68, 68, 68);
  cursor: pointer;
  margin-top: 40px;
  color: rgb(68, 68, 68);
  padding: 10px;
  border-radius: 20px;
  letter-spacing: 1px;
}
.contenedor_nosotrosTexto button:hover{
  background-color: rgb(205, 205, 205);
  color: black;
}


/* INICIO REDES SOCIALES */

.contenedor_redes{
  width: 100%;
  background-color: #e4dfdb;
  height: 150px;
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor_redes h3{
  font-style: italic;
}
.face_insta{
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

.face_insta button{
  background-color: transparent;
  border: 1px solid rgb(68, 68, 68);
  cursor: pointer;
  color: rgb(68, 68, 68);
  padding: 5px;
  border-radius: 20px;
  letter-spacing: 2px;
  margin-left: 20px;
}
.face_insta button:hover{
  background-color: rgb(205, 205, 205);
  color: black;
}

.face_insta button img{
  width: 11px;
  height: 11px;
}

/* INCIO CONTACTO */

.contacto{
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 500px;
  margin-top: 100px;
}


/* INICIO FOOTER */

footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.footer_tienda{
  width: 100%;
  height: 200px;
  background-color: rgb(68, 68, 68);
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

.footer_contenedorTienda{
   width: 60%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.titulo_footer{
  display: flex;
  flex-direction: column;
}
.titulo_footer img{
  width: 150px;
  height: 75px;
  border-radius: 20px;
}
.titulo_footer h1{
  color: white;
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
  margin-left: 50px;
}

.tienda_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tienda_footer h3{
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
}

.tienda_footer button{
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
}
.tienda_footer button:hover{
  background-color: rgb(103, 103, 103)
}

.redesSociales_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redesSociales_footer h3{
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
}
.redes{
  display: flex;
  flex-direction: row;
}
.redes img{
  width: 20px;
  height: 20px;
  margin-left: 3px;
  margin-top: 10px;
}

.footer_copy{
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_copy h1{
  font-size: 14px;
  color: white;
  margin-right: 2px;
}
.footer_copy h2{
  font-size: 13px;
  font-weight: normal;
  color: white;
  margin-right: 2px;
}
.footer_copy a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}


/* ---------------------- INFORMACION CUERPOS ---------------------- */

.cuerpo_informacion{
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  left:0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(52, 52, 52, 0.69) /* grey background with 30% opacity */
}

.fondo_informacion{
  width: 50%;
  height: 100%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.fondo_informacion img{
  width: 100%;
}

.cruz{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 3;
}

.cruz button{
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.contenido_informacion{
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.contenido_informacion h1{
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}
.contenido_informacion h2{
  font-weight: normal;
  color: grey;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.contenido_informacion p{
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 19px;
}
.contenido_informacion h3{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 19px;
}
.botones_informacion{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.botones_informacion button{
  background-color: transparent;
  border: 1px solid rgb(68, 68, 68);
  cursor: pointer;
  margin-top: 40px;
  color: rgb(68, 68, 68);
  padding: 15px;
  border-radius: 20px;
  letter-spacing: 1px;
}

.botones_informacion button:hover{
  background-color: rgb(205, 205, 205);
  color: black;
}
/* ---------------------- FIN INFORMACION CUERPOS ---------------------- */



/* ---------------------------------- PARA CELULARES ----------------------------------------------*/

@media only screen and (max-width: 699px) {

  header{
    width: 100%;
    height: 100px;
    position: absolute;
    top:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
  }
  .contenido_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .titulo_header{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    text-align: center;
  }
  .titulo_header h1{
    margin-top: 20px;
    font-size: 18px;
  }
  .menu_header{
    width: 100%;
    height: 60px;
    position: normal;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu_header a{
    margin-left: 10px;
    margin-top: 0px;
    font-size: 13px;
  }

  .tienda_online {
    display: none;
  }

  /* SLIDER */
  .cuerpo{
    margin-top: 0px;
  }

  .cuerpo_slider{
    display: none;
  }

  /* PRODUCTOS */

  .productos{
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .titulo_productos h1{
    margin-left: 20px;
    font-family: cursive;
    font-weight: 500;
  }

  .cuerpo_productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
  }
  .contenedor_producto{
    margin-right: 0px;
    border-radius: 20px;
  }
  .contenedor_producto img{
    border-radius: 20px;
  }

  /* INICIO NOSOTROS */

  .nosotros{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
  }
  .nosotros_texto{
    width: 100%;
    height: 500px;
  }
  .nosotros_imagen{
    display: none;
  }

  .contenedor_nosotrosTexto{
    width: 100%;
    text-align: left;
  }

  /* INICIO REDES SOCIALES */

  .contenedor_redes{
    width: 100%;
    background-color: #e4dfdb;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor_redes h3{
    font-style: italic;
    margin-bottom: 20px;
  }

  .face_insta{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
  }

  .face_insta button{
    background-color: transparent;
    border: 1px solid rgb(68, 68, 68);
    cursor: pointer;
    color: rgb(68, 68, 68);
    padding: 5px;
    border-radius: 20px;
    letter-spacing: 2px;
    margin-left: 0px;
    font-size: 10px;
    margin-bottom: 10px;

  }
  .face_insta button:hover{
    background-color: rgb(205, 205, 205);
    color: black;
  }

  .face_insta button img{
    width: 11px;
    height: 11px;
  }

  /* INICIO FOOTER */

  footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  .footer_tienda{
    width: 100%;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .footer_contenedorTienda{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
  }

  .titulo_footer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .tienda_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .redesSociales_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .footer_copy h1{
    font-size: 12px;
    color: white;
    margin-right: 2px;
  }
  .footer_copy h2{
    font-size: 12px;
    font-weight: normal;
    color: white;
    margin-right: 0px;
  }
  .footer_copy a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }


/* ---------------------- INFORMACION CUERPOS ---------------------- */

.fondo_informacion{
  width: 100%;
}

}
